In [1]:
import pandas as pd

In [4]:
clin_c = pd.read_csv('../data/clin_c.csv', index_col=0)

In [3]:
ge1_c = pd.read_csv('../data/data_vst_ruv1_c.csv', index_col=0)
ge1_c = ge1_c.T

In [5]:
clin_c.head()

,sex,dx_age,initial_b,location,perianal_disease,rsi,surg,rem,fam,B2,B3,mir,batch,TIN
sample,,,,,,,,,,,,,,
PB102_C,0,15,1,3,1,0,0,1,0,0,0,0,2,70.3
PB103_C,1,14,1,3,0,1,0,1,0,0,0,1,2,84.7
PB104_C,0,14,1,3,0,1,0,0,1,0,0,1,2,73.7
PB105_C,1,11,1,3,0,1,1,0,0,0,1,0,2,65.5
PB106_C,1,13,1,3,1,1,0,1,0,0,0,1,2,76.1

In [6]:
clin_c.loc[clin_c['initial_b'] == 3, 'initial_b'] = 1

In [7]:
ge1_c.head()

,5_8S_rRNA,5S_rRNA,7SK,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2ML1-AS1,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11AP1,ZYG11B,ZYX,ZYXP1,ZZEF1,ZZZ3
PB102_C,4.800711,5.052378,11.529040,9.117363,8.527667,10.314626,10.049700,7.670032,9.115273,5.779310,...,7.934447,7.048926,10.750384,7.811642,5.419974,10.562530,9.728348,5.007391,13.393725,10.592280
PB103_C,5.338362,5.721043,10.364413,9.345890,8.000729,9.307198,9.774105,7.005157,9.845762,5.675402,...,7.286218,6.481411,9.984145,8.821577,6.129426,10.663835,9.513610,5.007391,12.276613,10.175992
PB104_C,4.792627,5.039882,11.286995,9.047479,8.650707,7.054189,10.307550,8.108212,9.113070,5.412734,...,7.738445,6.906052,10.511770,8.153306,5.425485,10.434802,11.205969,5.007391,12.225283,10.274508
PB105_C,4.763189,5.297057,10.876038,9.098474,8.117975,10.071172,10.025983,7.938380,8.902457,5.395403,...,7.800933,7.103045,10.921275,7.789301,5.375301,10.754070,10.112489,5.007391,13.414581,10.315355
PB106_C,5.553485,5.763610,10.825812,9.122907,8.488454,9.740710,9.543378,7.417928,9.222884,5.779862,...,7.773922,6.441431,10.651215,8.255792,5.392051,10.634879,9.235236,5.007391,12.960736,10.144597

In [8]:
comb1 = pd.concat([clin_c, ge1_c], axis=1)
print(comb1.shape)
comb1.head()

(56, 59974)

,sex,dx_age,initial_b,location,perianal_disease,rsi,surg,rem,fam,B2,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11AP1,ZYG11B,ZYX,ZYXP1,ZZEF1,ZZZ3
PB102_C,0,15,1,3,1,0,0,1,0,0,...,7.934447,7.048926,10.750384,7.811642,5.419974,10.562530,9.728348,5.007391,13.393725,10.592280
PB103_C,1,14,1,3,0,1,0,1,0,0,...,7.286218,6.481411,9.984145,8.821577,6.129426,10.663835,9.513610,5.007391,12.276613,10.175992
PB104_C,0,14,1,3,0,1,0,0,1,0,...,7.738445,6.906052,10.511770,8.153306,5.425485,10.434802,11.205969,5.007391,12.225283,10.274508
PB105_C,1,11,1,3,0,1,1,0,0,0,...,7.800933,7.103045,10.921275,7.789301,5.375301,10.754070,10.112489,5.007391,13.414581,10.315355
PB106_C,1,13,1,3,1,1,0,1,0,0,...,7.773922,6.441431,10.651215,8.255792,5.392051,10.634879,9.235236,5.007391,12.960736,10.144597

In [14]:
comb1.drop(['mir', 'batch', 'TIN'], axis=1, inplace=True)

In [15]:
comb1.to_csv('../data/comb1_c.csv')

In [21]:
comb_i = pd.concat([clin_i, ge_i], axis=1)
print(comb_i.shape)
comb_i.head()

(56, 27691)

,sex,dx_age,initial_b,location,perianal_disease,rsi,surg,rem,B2,B3,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
PB101_I,0,10.0,1,3,1,0,1,1,0,1,...,7.824649,7.323165,8.664749,8.055628,10.611741,8.460992,10.807978,10.009128,12.782731,10.637928
PB102_I,0,15.0,1,3,1,0,0,1,0,0,...,8.287065,7.327283,8.527923,8.035770,10.780196,8.725279,10.805393,10.938182,12.528512,10.943526
PB104_I,0,14.0,1,3,0,1,0,0,0,0,...,8.288067,7.374126,8.423244,8.201304,10.718773,8.218133,10.796658,10.728842,12.408579,11.084058
PB105_I,1,11.0,1,3,0,1,1,0,0,1,...,7.885800,6.148265,7.921591,7.329052,10.962499,8.770612,10.761351,10.827108,14.140778,10.578863
PB106_I,1,13.0,1,3,1,1,0,1,0,0,...,8.228802,7.075417,8.546064,7.818257,10.769795,8.378115,10.474569,10.229678,12.709914,10.710980

In [22]:
comb_c = pd.concat([clin_c, ge_c], axis=1)
print(comb_c.shape)
comb_c.head()

(57, 27580)

,sex,dx_age,initial_b,location,perianal_disease,rsi,surg,rem,B2,B3,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
PB102_C,0,15,1,3,1,0,0,1,0,0,...,7.949419,7.444632,8.531152,8.476870,10.711782,8.226204,10.714523,10.086722,13.403388,11.113804
PB103_C,1,14,1,3,0,1,0,1,0,0,...,8.884003,7.040758,7.937842,8.027150,9.918173,9.300100,10.839797,9.922570,12.273801,10.731040
PB104_C,0,14,1,3,0,1,0,0,0,0,...,8.258820,7.579575,8.372301,8.411146,10.468542,8.592671,10.592729,11.579433,12.236015,10.819978
PB105_C,1,11,1,3,0,1,1,0,0,1,...,8.362675,7.827463,8.237863,8.224381,10.878759,8.158825,10.893245,10.490520,13.398142,10.731367
PB106_C,1,13,1,3,1,1,0,1,0,0,...,8.661957,7.632291,8.335882,7.789073,10.596585,8.684512,10.792969,9.623318,12.951025,10.636370

In [24]:
drop = ['mir', 'batch']
comb_i.drop(drop, axis=1, inplace=True)
comb_c.drop(drop, axis=1, inplace=True)

In [25]:
comb_i.to_csv('../data/comb_vst_i.csv', index_label='sample')
comb_c.to_csv('../data/comb_vst_c.csv', index_label='sample')